<main>
    <section class="takeselfiefixed">
      <div class="imagebox-fixed">
         <img src="images/blurimg.png" class="mainimg">
         <div class="banner-contentfixed">
          <h3>TAKE A SELFIE</h3>
          <p class="gettext">Get your free report in seconds</p>
           <div class="button-box">
             <button class="btn gray-btn ">Take a selfie <img src="images/Image 20.png"></button>
             <button class="btn white-btn ">Take a selfie <img src="images/Image 20.png"></button>
           </div>
         </div>
           <p class="smalltext fixedbottom">Your Photos Are Safe with Us with End-to-End Encryption</p>
      </div>
      <div class="text-center"> 
      </div>
    </section>
  </main>
