<main>
    <section class="free-rep-sec bgpink">
       <div class="container">
          <h2 class="text-center commonheading" data-aos="fade-up">Your Free Report</h2>
          <h4 class="subheading text-center mt50">concerns</h4>
          <div class="slider-section">
            <div class="slider-report">
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">7</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>Dark Circles</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">5</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>Acne</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">3</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>Pimples</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">4</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>wrinkles</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">2</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>overall</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
              <div>
                <div class="cardblock">
                    <div class="circel-block">
                       <span class="top-sec">6/<span class="goldencolor">3</span></span>
                       <span class="bottom-sec">10</span>
                    </div>
                    <p>Dark Circles</p>
                    <button class="btn bg-transparent">Details <img src="images/Image 45.png"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox-block">
               <div class="commoncheckbox">
               <input type="checkbox" id="html">
               <label for="html">Average stats for your skin age</label>
             </div>
             <button class="btn bg-transparent smallbtn">Get a premium report <img src="images/Image 45.png"></button>

          </div>
       </div>
    </section>
     <section class="Online-Pharmacy bgpink">
       <div class="container">
         <h4 class="text-center subheading">Treatments for ACNE</h4>
         <div class="slider-cover mt-4 pb-3">
           <div class="slick-here" >
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about the product goes here</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 72.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about the product goes here</p>
                 <label class="price">₹ 1,199</label>
                 <div class="productQuant">
                 <div class="qty">
                   <span class="minus-one"></span>
                   <input value="0"><span class="plus-one"></span>
                 </div>
                </div>
               </div>
             </div>
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27-1.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about the product goes here</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about the product goes here</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
           </div>
<!--              <div class="text-center my-5">
            <button class="btn bg-transparent">Go to pharmacy <img src="images/Image 45.png"></button> 
          </div>  -->          
        </div>
       </div>
     </section>
     <section class="Try-face-app bgpink">
       <div class="container">
         <h2 class="text-center">Visit doctor</h2>
       </div>
       <div class="text-center">
         <button class="btn gray-btn my-5 btnlarge">BOOK A CONSULTATION <img src="images/Image 20.png"></button>
       </div>
     </section>
   </main>
