<main>
    <section class="tabs-areas my-5">
      <div class="container">
        <div class="Product-Description">
          <h2 class="text-center my-5">Dr. G Natural Skin Purifier Cream, 120gm</h2>
          <label class="price">₹ 1,199</label>
          <div class="my-4 qty-buttons">
            <div class="productQuant mr-4">
              <div class="qty">
                <span class="minus-one"></span>
                <input value="0" tabindex="-1"><span class="plus-one"></span>
              </div>
           </div>
           <button class="btn gray-btn">ADD TO BAG</button>
          </div>
          <div class="productDes-lower pt-5">
            <div class="row mt-5">
              <div class="col-lg-3 col-md-12">
                <div class="top-slider single-product">
                  <div class="product-img d-flex align-items-center justify-content-center">
                    <img src="images/Rectangle 27-1.png"> 
                  </div>
                  <div class="product-img d-flex align-items-center justify-content-center">
                    <img src="images/Rectangle 27-1.png"> 
                  </div>
                  <div class="product-img d-flex align-items-center justify-content-center">
                    <img src="images/Rectangle 27-1.png"> 
                  </div>
                  <div class="product-img d-flex align-items-center justify-content-center">
                    <img src="images/Rectangle 27-1.png"> 
                  </div>
                  <div class="product-img d-flex align-items-center justify-content-center">
                    <img src="images/Rectangle 27-1.png"> 
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-12">
                <div class="repeat-desc mb-5">
                  <label>Description</label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                </div>
                <div class="repeat-desc mb-5">
                  <label>Directions for use</label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                </div>
                <div class="repeat-desc mb-5">
                  <label>Storage</label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                </div>
                <div class="repeat-desc mb-5">
                  <label>Warning</label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                </div>
                <div class="repeat-desc mb-5">
                  <label>Precaution</label>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>