<main>
    <section class="Try-face-app bgpink loginpage">
      <div class="container">
        <form>
        <h2 class="subheading text-center">Enter Code</h2>
        <div class="form-group phonenoblock2">
          <div id="form">
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          </div>
         </div>
         </form>
         <h6 class="verifyno">Please type the verification code sent to 8826868714</h6>
         <p>Didn’t receive a code? Please wait for 0:59</p>
      </div>
      <div class="text-center">
        <button class="btn gray-btn my-5 btnlarge">Verify <img src="images/Image 20.png"></button>
      </div>
    </section>
  </main>