<main>
    <section class="tabs-areas my-5">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Confirmation</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent1">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="bag-block">
                 <h4 class="topheading">Items in Your Bag</h4>
                 <div class="bagmain">
                    <div class="bagleft-section">
                       <div class="commonbagblock">
                         <div class="product-detailsblock">
                           <div class="imageblock">
                              <div class="product-img d-flex align-items-center justify-content-center">
                           <img src="images/Rectangle 27.png"> 
                          </div>
                           </div>
                           <div class="textblock">
                            <h4>Product Name</h4>
                            <p>A short description about the product goes here</p>
                            <label class="price">₹ 1,199</label>
                           </div>
                         </div>
                         <div class="addcartblock">
                             <div class="productQuant">
                                <div class="qty">
                                  <span class="minus-one"></span>
                                  <input value="0" tabindex="-1"><span class="plus-one"></span>
                                </div>
                               </div>
                         </div>
                       </div>
                       <div class="commonbagblock">
                         <div class="product-detailsblock">
                           <div class="imageblock">
                              <div class="product-img d-flex align-items-center justify-content-center">
                           <img src="images/Rectangle 72.png"> 
                          </div>
                           </div>
                           <div class="textblock">
                            <h4>Product Name</h4>
                            <p>A short description about the product goes here</p>
                            <label class="price">₹ 1,199</label>
                           </div>
                         </div>
                         <div class="addcartblock">
                             <div class="productQuant">
                                <div class="qty">
                                  <span class="minus-one"></span>
                                  <input value="0" tabindex="-1"><span class="plus-one"></span>
                                </div>
                               </div>
                         </div>
                       </div>
                       <div class="commonbagblock">
                         <div class="product-detailsblock">
                           <div class="imageblock">
                              <div class="product-img d-flex align-items-center justify-content-center">
                           <img src="images/Image 27.png"> 
                          </div>
                           </div>
                           <div class="textblock">
                            <h4>Premium Report</h4>
                            <p>A short description about the product goes here</p>
                            <label class="price">₹ 1,199</label>
                           </div>
                         </div>
                         <div class="addcartblock">
                             <div class="productQuant">
                                <div class="qty">
                                  <span class="minus-one"></span>
                                  <input value="0" tabindex="-1"><span class="plus-one"></span>
                                </div>
                               </div>
                         </div>
                       </div>
                      
                    </div>
                    <div class="bagright-section">
                        <p class="bagtotal">Bag Total</p>
                        <p class="bagtotal">₹ 2,418.00</p>
                        <p class="offertext">Offer</p>
                        <p class="offertext mt0">- ₹ 435.00</p>
                        <p class="smalltext">On Online Payments</p>
                         <p class="offertext">Grand Total</p> 
                         <h3 class="totaltext">₹ 1,983.00</h3>
                          <p class="smalltext">+ Shipping fees if applicable</p>
                          <div class="text-center">
                            <button class="btn gray-btn my-3 btnlarge">Buy Now <img src="images/Image 20.png"></button>
                          </div>
                    </div>

                 </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="payment-in deleviry-address">
              <label>Saved addresses</label>
              <div class="row mt-4">
                <div class="col-lg-9 col-md-12">
                  <div class="left-addressing">
                    <div class="custom-radio-wrap mt-4">
                      <form>
                        <div class="form-group bdr-btm d-flex-in">
                          <input id="html" type="radio" name="custom-radio-btn" checked>
                          <label class="custom-radio" for="html"></label>
                          <span class="label-text">
                            <div class="Pay-deatils">
                              <h3 class="mb-2">Jharna Dhar</h3>
                              <p>26, Vasant Vihar Poorvi Marg, Near Modern School, Block F, Vasant Vihar, New Delhi, Delhi 110057</p>
                            </div>
                          </span>
                        </div>
                      </form>
                    </div>
                    <div class="personal-details Add-address mt-5">
                      <h5 class="mb-4 pt-3">Add address</h5>
                      <form>
                        <div class="row">
                          <div class="col-md-6 col-sm-12 mb-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="First Name*">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="Last Name*">
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 mb-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="Full Address*">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="Pincode*">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="City*">
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 mb-5">
                            <label class="shipping-fair">₹ 0.00 Shipping Fees</label>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-5">
                            <div class="form-group">
                              <select class="form-control" id="">
                                <option>India</option>
                                <option>USA</option>
                                <option>China</option>
                                <option>Nepal</option>
                                <option>Bhutan</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-5">
                            <div class="form-group">
                              <select class="form-control" id="">
                                <option>State/Province*</option>
                                <option>Haryana</option>
                                <option>Delhi</option>
                                <option>Uttar Pradesh</option>
                                <option>Bihar</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-5">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="Phone Number*">
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary gray-btn mt-5">Use this address <img src="images/Image 20.png"></button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="text-center">
                    <button class="btn gray-btn text-uppercase" tabindex="0">continue <img src="images/Image 20.png"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="payment-in">
              <label>Payment methods</label>
              <div class="row mt-4">
                <div class="col-lg-9 col-md-12">
                  <div class="order-box custom-radio-wrap">
                    <form>
                      <div class="form-group bdr-btm mt-4">
                        <input id="html" type="radio" name="custom-radio-btn" checked>
                        <label class="custom-radio" for="html"></label>
                        <span class="label-text">
                          <div class="Pay-deatils">
                            <h3 class="mb-2">Pay Online</h3>
                            <p>Pay Using Credit/Debit Card, UPI, Wallets and Bank Transfers</p>
                          </div>
                      </span>
                      </div>
                      <div class="form-group mt-2">
                        <input id="css" type="radio" name="custom-radio-btn">
                        <label class="custom-radio" for="css"></label>
                        <span class="label-text">
                          <div class="Pay-deatils">
                            <h3 class="mb-2">Cash On Delivery</h3>
                            <p>Pay in Cash once you receive your order</p>
                          </div>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="text-center">
                    <button class="btn gray-btn text-uppercase" tabindex="0">PAY NOW <img src="images/Image 20.png"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
            <div class="Order-Failed mt-4">
              <div class="flexbox-inside">
                <h1 class="text-center">Order Successful</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                <div class="my-orders my-4 text-center">
                  <button class="btn bg-transparent"> My orders <img src="images/Image 20.png"> </button>
                </div>
                <div class="text-center mt-5">
                  <button class="btn gray-btn text-uppercase w-98" tabindex="0">Continue shopping <img src="images/Image 20.png"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>