    <div class="container">
      <nav class="navbar navbar-expand-lg">
       <a class="navbar-brand mr-5" routerLink="/">Dr G</a>
       <!---------- Toggle Button Start ---------->
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
        <!---------- Toggle Button Ends ---------->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4 active">
              <a class="nav-link" routerLink="/take-selfie">TAKE A Selfie <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" routerLink="/pharmacy">pharmacy</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" routerLink="/book-consulting">consultation</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="#">Articles</a>
            </li>
            <form class="search-user">
              <img src="images/Image 2.png" class="mr-3 max-wt">
              <li class="nav-item mr-2">
                <a class="nav-link" routerLink="/login">L</a>
              </li>
              <div class="cart-value">
                <img src="images/Image 43.png">
                <span class="added-number">2</span>
              </div>
            </form>
          </ul>
        </div>
      </nav>
    </div>
    <div class="search-area">
      <div class="container">
       <div class="search-inputcover w-100">
         <input type="search" id="site-search" name="" aria-label="Search through site content" placeholder="search products" class="w-100">
         <img src="images/Image 2.png" class="absolute-search">
       </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
           </div>
           <div class="col-lg-3 col-md-6">
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 72.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
           </div>
           <div class="col-lg-3 col-md-6">
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27-1.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
           </div>
           <div class="col-lg-3 col-md-6">
             <div class="inside-items">
               <div class="product-img d-flex align-items-center justify-content-center">
                <img src="images/Rectangle 27.png"> 
               </div>
               <div class="down-details">
                 <h4>Product Name</h4>
                 <p>A short description about</p>
                 <label class="price">₹ 1,199</label>
                 <button class="btn gray-btn">ADD TO BAG</button>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>