<main>
    <section class="Try-face-app bgpink loginpage">
      <div class="container">
        <form>
        <h2 class="subheading text-center">Log In</h2>
        <div class="form-group phonenoblock2">
           <input class="form-control noborderinput" placeholder="Enter Your Phone Number">
         </div>
         </form>
         <h6 class="verifyno">Verify your number so Dr. G can use it to reach you</h6>
      </div>
      <div class="text-center">
        <button class="btn gray-btn my-5 btnlarge">Next <img src="images/Image 20.png"></button>
      </div>
    </section>
  </main>
