<main>
    <section class="tabs-areas my-5">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Confirmation</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent1">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">.Bag..</div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">..Delivery.</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">.Payment..</div>
          <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
            <div class="Order-Failed">
              <div class="flexbox-inside">
                <h1 class="text-center">Order Failed</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                <div class="text-center mt-5">
                  <button class="btn gray-btn text-uppercase" tabindex="0">Try Again <img src="images/Image 20.png"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>