<main>
    <section class="takeselfiefixed">
      <div class="imagebox-fixed">
         <img src="images/blurimg.png" class="mainimg">
         <div class="banner-contentfixed">
            <div class="preparingreportblock">
                <p>Preparing Your report</p>
                <div class="progress">
                  <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span id="current-progress"></span>
                  </div>
                </div>
            </div>
         </div>
      </div>
      <div class="text-center">
       
      </div>
    </section>
  </main>