<main>
    <section class="free-rep-sec bgpink">
       <div class="container">
          <h2 class="text-center commonheading" data-aos="fade-up">Book a Consultation</h2>
          <h4 class="subheading text-center mt50">Choose a day</h4>
          <div class="slider-section">
            <div class="book-consaltation ">
              <div>
                <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">17</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">Today</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">18</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">tomorrow</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">19</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">Wednesday</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">20</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">thursday</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">21</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">FRIDAY</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">22</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">saturday</p>
                </div>
              </div>
              <div>
                 <div class="cardblock">
                    <div class="nocircel-block">
                       <span class="top-sec">23</span>
                    </div>
                    <p>december</p>
                    <p class="mt40">Sunday</p>
                </div>
              </div>
            </div>
          </div>
       </div>
    </section>
    <section class="choosesec bgpink">
       <div class="container"> 
          <h4 class="subheading text-center">Choose a time</h4>
          <div class="selecttimebutton">
             <div class="btn-group">
               <button type="button" class="btn btn-time"><img src="images/sun-black.png" class="blackicon"><img src="images/sun-white.png" class="whiteicon">MORNING 9 AM - 1 PM</button>
               <button type="button" class="btn btn-time active"><img src="images//moon-black.png" class="blackicon"><img src="images/moon-white.png" class="whiteicon">AFTERNOON 2 PM - 6PM</button>
             </div>
          </div>
          <h4 class="subheading text-center">major concerns</h4>
          <div class="form-group betterhelpblock">
            <input class="form-control noborderinput" placeholder="Help us better understand you better by telling us about your major concerns">
          </div>
       </div>
    </section>
     <section class="Try-face-app bgpink">
       <div class="container">
         <h2 class="subheading text-center">Phone number</h2>
         <div class="form-group phonenoblock">
            <input class="form-control noborderinput" placeholder="Enter Phone Number">
          </div>
       </div>
       <div class="text-center">
         <button class="btn gray-btn my-5 btnlarge">BOOK A CONSULTATION <img src="images/Image 20.png"></button>
       </div>
     </section>
   </main>
