<main>  
    <section class="takeselfiefixed">
      <div class="imagebox-fixed">
         <img src="images/blurimg.png" class="mainimg">
         <div class="banner-contentfixed">
          <a href="javascript:;" class="frontface">
            <img src="images/turn-left.png">
          </a>
         </div>
         <div class="frontfacebottom">
           <div class="commonbottmblock"><img src="images/Image 7.png"><label>Do not use flash while taking your picture</label></div>
           <div class="commonbottmblock"><img src="images/Image 34.png"><label>Do not apply any makeup or skin care products</label></div>
           <div class="commonbottmblock"><img src="images/Image 9.png"><label>Ensure you have adequate natural lighting</label></div>

         </div>
      </div>
      <div class="text-center">
       
      </div>
    </section>
  </main>