<main>
    <section class="free-rep-sec bgpink">
       <div class="container">
          <h2 class="text-center commonheading" data-aos="fade-up">Pharmacy</h2>
       </div>
    </section>
     <section class="bgpink phrmacysection">
        <div class="pharmacymain "> 
           <div class="container">
             <h4 class="cattext"><a href="javascript:;" class="showcat">Select Category</a></h4>
             <div class="pharmacyinner">
                <div class="pharmacyleft">
                 <span class="crossicon"><img src="images/close.png"></span>
                  <h3>concerns</h3>
                  <ul>
                     <li>
                         <div class="commoncheckbox">
                             <input type="checkbox" id="some1" data-check-pattern="[name^='some-key']" />
                             <label for="some1">All </label>
                           </div>
                     </li>
                     <li>
                        <div class="commoncheckbox">
                           <input type="checkbox" name="some-key2" id="some2" />
                           <label for="some2">Acne Treatment (42) </label>
                         </div>
                       </li>
                     <li>
                        <div class="commoncheckbox">
                           <input type="checkbox" name="some-key3" id="some3" />
                           <label for="some3">Dry & Dull Skin (210) </label>
                         </div>
                     </li>
                     <li>
                         <div class="commoncheckbox">
                           <input type="checkbox" name="some-key4" id="some4" />
                           <label for="some4">Pigmentation (3) </label>
                         </div>
                       </li>
                        <li>
                         <div class="commoncheckbox">
                           <input type="checkbox" name="some-key5" id="some5" />
                           <label for="some5">Anti Ageing (47) </label>
                         </div>
                       </li> 
                       <li>
                         <div class="commoncheckbox">
                           <input type="checkbox" name="some-key6" id="some6" />
                           <label for="some6">Firming (7) </label>
                         </div>
                       </li>
                       <li>
                         <div class="commoncheckbox">
                           <input type="checkbox" name="some-key7" id="some7" />
                           <label for="some7">Pore Care (38)</label>
                         </div>
                       </li>
                       <li>
                         <div class="commoncheckbox">
                           <input type="checkbox" name="some-key8" id="some8" />
                           <label for="some8"> Sun Protection (14)</label>
                         </div>
                       </li>
                         
                   </ul>
                </div>
                <div class="pharmacyright">
                  <ul class="pharmacylist">
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                     <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                     <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                     <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                    <li>
                         <div class="inside-items">
                           <div class="product-img d-flex align-items-center justify-content-center">
                            <img src="images/Rectangle 27.png"> 
                           </div>
                           <div class="down-details">
                             <h4>Product Name</h4>
                             <p>A short description about the product goes here</p>
                             <label class="price">₹ 1,199</label>
                             <button class="btn gray-btn">ADD TO BAG</button>
                           </div>
                         </div>
                    </li>
                  </ul>
                  <div class="paginationblock">
                    <div class="previusblock "><a href="javascript:;" class="disable"><i class="fa fa-angle-left" aria-hidden="true">Previous</i></a></div> 
                    <ul>
                      <li><a href="javascript:;" class="active">1</a></li>
                      <li><a href="javascript:;">2</a></li>
                      <li><a href="javascript:;">3</a></li>
                      <li><a href="javascript:;">4</a></li>
                    </ul>
                    <div class="nextblock"><a href="javascript:;">next<i class="fa fa-angle-right" aria-hidden="true"></i>
</a></div> 
                  </div>
                </div>
             </div>
           </div>
          </div>

    </section>

   </main>