<main>
    <section class="banner-section d-flex justify-content-center">
      <div class="top-slider">
        <div class="img-cover">
          <img src="images/doctor1.png">
          <div class="banner-content text-center mt-5">
            <label class="mb-4 txet-uppercase" >Introducing</label>
            <h1 class="mb-4" >Instant Face Diagnosis</h1>
            <button class="btn gray-btn">Take a selfie <img src="images/Image 20.png"></button>
          </div>
        </div>
        <div class="img-cover">
          <img src="images/doctor2.png">
          <div class="banner-content text-center mt-5">
            <label class="mb-4 txet-uppercase" >Introducing</label>
            <h1 class="mb-4" >Instant Face Diagnosis</h1>
            <button class="btn gray-btn">Take a selfie <img src="images/Image 20.png"></button>
          </div>
        </div>
        <div class="img-cover">
          <img src="images/doctor3.png">
          <div class="banner-content text-center mt-5">
            <label class="mb-4 txet-uppercase" >Introducing</label>
            <h1 class="mb-4" >Instant Face Diagnosis</h1>
            <button class="btn gray-btn">Take a selfie <img src="images/Image 20.png"></button>
          </div>
        </div>
      </div>
    </section>
    <section class="laptop-section d-flex justify-content-center">
      <div class="container">
        <img src="images/Image 36.png" data-aos="fade-up">
      </div>
    </section>
    <section class="Online-Pharmacy">
      <div class="container">
        <h2 class="text-center" data-aos="fade-up">Online Pharmacy</h2>
        <div class="slider-cover mt-5 pb-3">
          <div class="slick-here" data-aos="fade-up">
            <div class="inside-items">
              <div class="product-img d-flex align-items-center justify-content-center">
               <img src="images/Rectangle 27.png"> 
              </div>
              <div class="down-details">
                <h4>Product Name</h4>
                <p>A short description about the product goes here</p>
                <label class="price">₹ 1,199</label>
                <button class="btn gray-btn">ADD TO BAG</button>
              </div>
            </div>
            <div class="inside-items">
              <div class="product-img d-flex align-items-center justify-content-center">
               <img src="images/Rectangle 72.png"> 
              </div>
              <div class="down-details">
                <h4>Product Name</h4>
                <p>A short description about the product goes here</p>
                <label class="price">₹ 1,199</label>
                <button class="btn gray-btn">ADD TO BAG</button>
              </div>
            </div>
            <div class="inside-items">
              <div class="product-img d-flex align-items-center justify-content-center">
               <img src="images/Rectangle 27-1.png"> 
              </div>
              <div class="down-details">
                <h4>Product Name</h4>
                <p>A short description about the product goes here</p>
                <label class="price">₹ 1,199</label>
                <button class="btn gray-btn">ADD TO BAG</button>
              </div>
            </div>
            <div class="inside-items">
              <div class="product-img d-flex align-items-center justify-content-center">
               <img src="images/Rectangle 27.png"> 
              </div>
              <div class="down-details">
                <h4>Product Name</h4>
                <p>A short description about the product goes here</p>
                <label class="price">₹ 1,199</label>
                <button class="btn gray-btn">ADD TO BAG</button>
              </div>
            </div>
          </div>
         <div class="text-center my-5">
           <button class="btn bg-transparent">Go to pharmacy <img src="images/Image 45.png"></button> 
         </div>           
       </div>
      </div>
    </section>
    <section class="Get-Started">
      <div class="container">
        <h2 class="text-center mt-3 mb-4">Get Started</h2>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="img-details-try">
              <figure>
                <img src="images/Image 26.png">
              </figure> 
              <label>Take a Selfie</label>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum mi.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="img-details-try">
              <figure>
                <img src="images/Image 27.png">
              </figure> 
              <label>Get Your Free Report</label>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum mi.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="img-details-try">
              <figure>
                <img src="images/Image 30.png">
              </figure> 
              <label>Buy Medicines Online</label>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum mi.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="img-details-try">
              <figure>
                <img src="images/Image 31.png">
              </figure> 
              <label>Book a Consultation</label>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum mi.</p>
            </div>
          </div>
        </div>
        <div class="text-center mb-4">
          <button class="btn gray-btn">TRY NOW <img src="images/Image 20.png"></button>
        </div>
      </div>
    </section>
    <section class="Meet-Team">
      <div class="container">
        <h2 class="text-center mb-4">Meet the Team</h2>
        <div class="row">
          <div class="col-md-6">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><img src="images/dr-geetika-new-new.png">
                    <label>Dr. Geetika Mittal Gupta</label>
                    <p>Founder & Medical Director</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="home-tab1" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true"><img src="images/jharna.png">
                    <label>Ms. Jharna Dhar</label>
                    <p>Vice President</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><img src="images/kalpana-m-1.png">
                    <label>Dr. Kalpana Barua</label>
                    <p>Sr. Cosmetologist</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false"><img src="images/Sweety.png">
                    <label>Dr. Sweety Darall</label>
                    <p>Dermatologist</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><img src="images/aditi.png">
                    <label>Dr. Aditi Gupta</label>
                    <p>MD, Dermatologist</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false"><img src="images/Monica.png">
                    <label>Dr. Monica Payal</label>
                    <p>Cosmetologist</p>
                  </a>
                </li>
              </ul>
          </div>
          <div class="col-md-6">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3>Dr. Geetika Mittal Gupta</h3>
                <h5>Founder & Medical Director</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h3>Dr. Kalpana Barua</h3>
                <h5>Sr. Cosmetologist</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h3>Dr. Aditi Gupta</h3>
                <h5>MD, Dermatologist</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
              <div class="tab-pane fade" id="home1" role="tabpanel" aria-labelledby="home-tab">
                <h3>Ms. Jharna Dhar</h3>
                <h5>Vice President</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
              <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                <h3>Dr. Sweety Darall</h3>
                <h5>Dermatologist</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
              <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
                <h3>Dr. Monica Payal</h3>
                <h5>Cosmetologist</h5>
                <p>Dr. Geetika Mittal Gupta is an award-winning dermatologist who specializes in cosmetic and medical dermatology. After practicing for more than a decade, she has created ISAAC Luxe, a contemporary and comfortable environment to meet the growing needs of her patients. Dr. Gupta’s focus is on bridging the gap between conventional beauty treatments and cosmetic procedures to deliver skin, body and hair solutions to each of her clients at ISAAC Luxe.</p>
                <p>A board-certified dermatologist, Dr. Geetika completed her MBBS from Govt. Medical College, Patiala and went on to her Post Graduation in Practical Dermatology from Cardiff University, UK. She also holds a diploma in Aesthetic Medicine from American Academy of Aesthetic Medicine. Her pursuit for knowledge and keeping up with latest developments in the field of dermatology and cosmetology often take her to various conferences and workshops globally.</p> 
                <p>Dr. Geetika Mittal Gupta specializes in providing non-surgical skin and weight loss solutions and is often frequented by designers, celebrities, Page 3 personalities as well as influencers. Dr. Gupta believes in a holistic approach for managing skin, hair, and concerns which are often a combination of FDA approved medical technologies, at-home care and diet.</p> 
                <p>Dr. Geetika always keeps up with the latest technologies and practice cosmetic procedures that cause minimal pain and promise effect results. She specializes in laser treatments for acne scars, skin lightening, and skin rejuvenation, laser hair reduction, chemical peels, anti-aging treatments for a non-surgical facelift, injectables Botox and Juvederm fillers, and other cosmetic procedures. She also coined medical weight loss plans that are a combination of diet, nutrition and effective body contouring treatments to give the desired long term results effortlessly.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="Try-face-app">
      <div class="container">
        <h2 class="text-center">Try Dr.g Instant face diagnosis app</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum mi. Ut porttitor varius porttitor. Vivamus malesuada metus eu enim rutrum sodales. Morbi convallis, magna a aliquet ultrices, massa lacus dictum nulla, tincidunt auctor tortor justo eget lorem. Praesent id lorem nulla. Donec volutpat nulla vitae urna eleifend, vitae convallis massa ultrices.</p>
      </div>
      <div class="text-center">
        <button class="btn gray-btn my-5">Take a selfie <img src="images/Image 20.png"></button>
      </div>
    </section>
  </main>