<main>
    <section class="tabs-areas my-5">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">consultation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">confirmation</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent1">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <div class="bag-block">
                 <h4 class="topheading">Booking details</h4>
                 <div class="bagmain">
                    <div class="bagleft-section">
                      <form>
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="First Name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="Last Name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="18 December, 2020">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="2 PM - 6 PM">
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <textarea class="form-control" placeholder="Need help with Acne and Scars"></textarea>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" placeholder="8826868714">
                            </div>
                          </div>
                        </div>
                      </form>
                      
                    </div>
                    <div class="bagright-section">
                        <p class="bagtotal">Bag Total</p>
                        <p class="bagtotal">₹ 2,418.00</p>
                        <p class="offertext">Offer</p>
                        <p class="offertext mt0">- ₹ 435.00</p>
                        <p class="smalltext">On Online Payments</p>
                         <p class="offertext">Grand Total</p> 
                         <h3 class="totaltext">₹ 1,983.00</h3>
                          <p class="smalltext">+ Shipping fees if applicable</p>
                          <div class="text-center">
                            <button class="btn gray-btn my-3 btnlarge">Buy Now <img src="images/Image 20.png"></button>
                          </div>
                    </div>

                 </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="payment-in">
              <label>Payment methods</label>
                <div class="row mt-4">
                  <div class="col-lg-9 col-md-12">
                    <div class="order-box custom-radio-wrap">
                      <form>
                        <div class="form-group bdr-btm mt-4">
                          <input id="html" type="radio" name="custom-radio-btn" checked>
                          <label class="custom-radio" for="html"></label>
                          <span class="label-text">
                            <div class="Pay-deatils">
                              <h3 class="mb-2">Pay Online</h3>
                              <p>Pay Using Credit/Debit Card, UPI, Wallets and Bank Transfers</p>
                            </div>
                        </span>
                        </div>
                        <div class="form-group mt-2">
                          <input id="css" type="radio" name="custom-radio-btn">
                          <label class="custom-radio" for="css"></label>
                          <span class="label-text">
                            <div class="Pay-deatils">
                              <h3 class="mb-2">Cash On Delivery</h3>
                              <p>Pay in Cash once you receive your order</p>
                            </div>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-12">
                    <div class="text-center">
                      <button class="btn gray-btn text-uppercase" tabindex="0">PAY NOW <img src="images/Image 20.png"></button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="Order-Failed">
              <div class="flexbox-inside">
                <h1 class="text-center">Booking Failed</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                <div class="my-orders my-4 text-center">
                  <button class="btn bg-transparent">My bookings <img src="images/Image 20.png"> </button>
                </div>
                <div class="text-center mt-5">
                  <button class="btn gray-btn text-uppercase" tabindex="0">Try Again <img src="images/Image 20.png"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
