<main>
    <section class="tabs-area my-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <ul class="nav nav-tabs tabs-left" role="tablist">
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="active">My account</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">My orders</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">My bookings</a></li>
          </ul>
          </div>
          <div class="col-sm-9">
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="personal-details mb-5">
                <h5 class="mb-5">Personal details</h5>
                <form>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="First Name">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Last Name">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Email Address">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="8826868714">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary gray-btn mt-5">SAVE</button>
                </form>
              </div>
              <div class="personal-details mb-5">
                <h5 class="mb-5">Saved Addresses</h5>
                <div class="saved-address">
                  <label>Jharna Dhar</label>
                  <p>26, Vasant Vihar Poorvi Marg, Near Modern School, Block F, Vasant Vihar, New Delhi, Delhi 110057</p>
                  <span>REMOVE</span>
                </div>
              </div>
              <div class="personal-details Add-address mb-5">
                <h5 class="mb-5">Add address</h5>
                <form>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="First Name*">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Last Name*">
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Full Address*">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Pincode*">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="City*">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <select class="form-control" id="">
                          <option>India</option>
                          <option>USA</option>
                          <option>China</option>
                          <option>Nepal</option>
                          <option>Bhutan</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <select class="form-control" id="">
                          <option>State/Province*</option>
                          <option>Haryana</option>
                          <option>Delhi</option>
                          <option>Uttar Pradesh</option>
                          <option>Bihar</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id=""placeholder="Phone Number*">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary gray-btn mt-5">SAVE</button>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="personal-details mb-5">
                <h5 class="mb-5">Order details</h5>
                <div class="order-box mb-5">
                  <div class="order-heading">
                    <img src="images/Image 56.png" class="mr-2"> <label>Ordered Placed <span>(18-Dec-2020)</span></label>
                  </div>
                  <div class="order-products">
                    <figure class="product-cover">
                      <img src="images/Rectangle 27.png">
                    </figure>
                    <div class="summrymrp-both">
                      <div class="summury-line border-bottom1">
                        <label class="bold-dark">Dr. G Natural Skin Purifier Cream, 120gm</label>
                        <p>Qty: 1 <span class="ml-2 mr-2">|</span> Price: ₹ 1,199.00</p>
                      </div>
                      <div class="mrp-area">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Product MRP :</label>  <label>₹ 1,199.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Discount :</label>     <label>- ₹ 100.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Paid online :</label>  <label>₹ 1,099.00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order-box mb-5">
                  <div class="order-heading">
                    <img src="images/Image 59.png" class="mr-2"> <label>Ordered Dispatched <span>(18-Dec-2020)</span></label>
                  </div>
                  <div class="order-products">
                    <figure class="product-cover">
                      <img src="images/Rectangle 27.png">
                    </figure>
                    <div class="summrymrp-both">
                      <div class="summury-line border-bottom1">
                        <label class="bold-dark">Dr. G Natural Skin Purifier Cream, 120gm</label>
                        <p>Qty: 1 <span class="ml-2 mr-2">|</span> Price: ₹ 1,199.00</p>
                      </div>
                      <div class="mrp-area">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Product MRP :</label>  <label>₹ 1,199.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Discount :</label>     <label>- ₹ 100.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Paid online :</label>  <label>₹ 1,099.00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order-box mb-5">
                  <div class="order-heading">
                    <img src="images/Image 58.png" class="mr-2"> <label><b>Order In Process</b></label>
                  </div>
                  <div class="order-products">
                    <figure class="product-cover">
                      <img src="images/Image 27.png">
                    </figure>
                    <div class="summrymrp-both">
                      <div class="summury-line border-bottom1">
                        <label class="bold-dark">Premium Report</label>
                        <p>Qty: 1 <span class="ml-2 mr-2">|</span> Price: ₹ 1,199.00</p>
                      </div>
                      <div class="mrp-area">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Product MRP :</label>  <label>₹ 1,199.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Discount :</label>     <label>- ₹ 100.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Paid online :</label>  <label>₹ 1,099.00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order-box mb-5">
                  <div class="order-heading">
                    <img src="images/Image 60.png" class="mr-2"> <label>Ordered Delivered <span>(18-Dec-2020)</span></label>
                  </div>
                  <div class="order-products">
                    <figure class="product-cover">
                      <img src="images/Rectangle 27.png">
                    </figure>
                    <div class="summrymrp-both">
                      <div class="summury-line border-bottom1">
                        <label class="bold-dark">Dr. G Natural Skin Purifier Cream, 120gm</label>
                        <p>Qty: 1 <span class="ml-2 mr-2">|</span> Price: ₹ 1,199.00</p>
                      </div>
                      <div class="mrp-area">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Product MRP :</label>  <label>₹ 1,199.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Discount :</label>     <label>- ₹ 100.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Paid online :</label>  <label>₹ 1,099.00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
              <div class="personal-details mb-5">
                <h5 class="mb-5">Order details</h5>
                <div class="order-box mb-5">
                  <div class="order-heading">
                    <img src="images/Image 60.png" class="mr-2"> <label>Booking Confirmed <span>(18-Dec-2020)</span></label>
                  </div>
                  <div class="order-products">
                    <figure class="product-cover">
                      <img src="images/Rectangle 27.png">
                    </figure>
                    <div class="summrymrp-both">
                      <div class="summury-line border-bottom1">
                        <label class="bold-dark">Doctor Consultation</label>
                        <p>Day : 18-Dec-2020, 2 PM to 6 PM <span class="mr-2 ml-2">|</span> Price: ₹ 900.00
                      </div>
                      <div class="mrp-area">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Product MRP :</label>  <label>₹ 1,199.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Discount :</label>     <label>- ₹ 100.00</label> 
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <label>Paid online :</label>  <label>₹ 1,099.00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </main>