<main>
    <section class="tabs-areas my-5">
      <div class="my-5 text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn1 gray-btn" data-toggle="modal" data-target="#exampleModal">
          Get a premium report <img src="images/Image 20.png">
        </button>
      </div>
    </section>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <figure class="report-img">
            <img src="images/Image 27.png">
          </figure>
          <label class="modal-heading">Get a premium report</label>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel.</p>
          <div class="mt-5">
            <input type="" name="" placeholder="Let’s better understand you better by telling us about your concerns" class="w-100 modal-input">
            <label class="price-tag mt-4">₹ 1,199</label>
            <button type="button" class="btn gray-btn my-4" data-toggle="modal" data-target="#exampleModal">
              ADD TO BAG
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
