<main>
    <section class="tabs-areas bgpink">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Bag" role="tab" aria-controls="home" aria-selected="true">Bag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="profile" aria-selected="false">delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#confirmation" role="tab" aria-controls="contact" aria-selected="false">confirmation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#payment" role="tab" aria-controls="contact" aria-selected="false">payment</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent1">
          <div class="tab-pane fade show active" id="Bag" role="tabpanel" aria-labelledby="home-tab">
              <div class="bag2block">
                 <h2 class="newheadig text-center">It Looks Empty Here</h2>
                 <p class="text-center">Take a Selfie and buy recommended medicines delivered all over India. Or, go to Pharmacy to buy medicines and skin care products.</p>
                 <div class="button-block text-center">
                  <button class="btn bg-transparent smallbtn">Take a selfie <img src="images/Image 45.png"></button>
                  <button class="btn bg-transparent smallbtn">Go to pharmacy <img src="images/Image 45.png"></button>
                  <button class="btn bg-transparent smallbtn">Book a consultation <img src="images/Image 45.png"></button>
                </div>
              </div>

          </div>
          <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="profile-tab">..Profile.</div>
          <div class="tab-pane fade" id="confirmation" role="tabpanel" aria-labelledby="contact-tab">.Contact..</div>
          <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="contact-tab1">
            <div class="Order-Failed mt-4">
              <div class="flexbox-inside">
                <h1 class="text-center">Order Successful</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae vestibulum mauris. Integer varius, tortor vel efficitur aliquet, massa ligula bibendum erat.</p>
                <div class="my-orders my-4 text-center">
                  <button class="btn bg-transparent"> My orders <img src="images/Image 20.png"> </button>
                </div>
                <div class="text-center mt-5">
                  <button class="btn gray-btn text-uppercase w-98" tabindex="0">Continue shopping <img src="images/Image 20.png"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>